.ui-tabs .ui-tabs-panel {
    height: 320px;
}
#thumb{
    background: black;
    width: 668px;
}
#tabs{
width: 668px;
}
#tabs-1{
    background-color: black;

}
.tab2img{
    width: 96%;
    max-height: 65%;
    POSITION: ABSOLUTE;
}
#thumb span img{
    width: 11%;
    cursor: pointer;
}
#thumb span img:hover{
    background-image: url("../images/play.png");
}
#thumb span{
    margin-left: 5px;
}
.vjs-big-play-button{
    margin-left: 42%;
    margin-top: 22%;
}
.example_video_1-dimensions{
    height: 338px !important;
}

body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
.demoHeaders {
    margin-top: 2em;
}
.active{
    border: 1px solid #0df1db;
    transform: scale(1.1);
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}