.ui-tabs .ui-tabs-panel {
    height: 340px;
}
#thumb{
    background: black;
    width:100%;
    display: inline-block;
}
#tabs{
width: 76%;
}
#tabs-1{
    background-color: black;

}
.tab2img{
    width: 96%;
    max-height: 65%;
    POSITION: ABSOLUTE;
}
#thumb span img{
    width: 10%;
    cursor: pointer;
    border: 1px solid;
    float: left;
}
.imgContainer {
   float: left;
    width: 20%;
}
.row1 , .row2 {
    margin-left: 21%;

}
.imgContainer img {
    width: 20%;
    border: 1px solid;
    display: inline-grid;
    height: 106px;
    position: absolute;
}
/*#thumb span img:hover{*/
    /*background-image: url("../images/play.png");*/
/*}*/
#thumb span{
    /*margin-left: 5px;*/
}
.vjs-big-play-button{
    margin-left: 42%;
    margin-top: 22%;
}
.example_video_1-dimensions{
    height: 338px !important;
    width: 100%;
}

body{
    font-family: "Trebuchet MS", sans-serif;
    margin: 50px;
}
video {
    width: 100%    !important;
    height: auto   !important;
}
.demoHeaders {
    margin-top: 2em;
}
.active{
    border: 1px solid #0df1db !important;
    transform: scale(1.1);
    opacity: 0.7;
}
#dialog-link {
    padding: .4em 1em .4em 20px;
    text-decoration: none;
    position: relative;
}
#dialog-link span.ui-icon {
    margin: 0 5px 0 0;
    position: absolute;
    left: .2em;
    top: 50%;
    margin-top: -8px;
}
#icons {
    margin: 0;
    padding: 0;
}
#icons li {
    margin: 2px;
    position: relative;
    padding: 4px 0;
    cursor: pointer;
    float: left;
    list-style: none;
}
#icons span.ui-icon {
    float: left;
    margin: 0 4px;
}
.fakewindowcontain .ui-widget-overlay {
    position: absolute;
}
select {
    width: 200px;
}
.ui-tabs .ui-tabs-panel {
    padding: 10px 4px 5px 6px;
}